<%- include("partials/header.ejs") %>

<body>
   
    <div class = "blog-container">
    <ul>
       <% for (i = (blogPosts.length - 1); i >= 0; i--) {%>
            <li>
                <h2><%= blogPosts[i].title %></h2>
                <p><%= blogPosts[i].ingredients %></p>
                <p><%= blogPosts[i].recipeContent %></p>
                <div class="post-btns">
                <a href="/edit-post/<%= blogPosts[i].id %>">Edit</a>
                <form action="/delete/<%= blogPosts[i].id %>" method="post">
                    <button type="submit">Delete</button>
                </form>
                </div>
            </li>
        <% } %>
    </ul>
    </div>

</body>
</html>